*::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  margin: 0;
  height: 100vh;
  @import url(https://fonts.googleapis.com/css?family=Gudea:400,700);
  font-family: "Gudea", sans-serif;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "lptech-font";
  src: url("http://localhost/learn/Final_Project/assets/vendor/fonts/lptech-font.eot");
  src: url("http://localhost/learn/Final_Project/assets/vendor/fonts/lptech-font.eot?#iefix") format("embedded-opentype"), url("http://localhost/learn/Final_Project/assets/vendor/fonts/lptech-font.woff") format("woff"), url("http://localhost/learn/Final_Project/assets/vendor/fonts/lptech-font.ttf") format("truetype"), url("http://localhost/learn/Final_Project/assets/vendor/fonts/lptech-font.svg#lptech-font") format("svg");
  font-weight: normal;
  font-style: normal;
}
.error-message {
  margin: 24px 0px;
  padding: 14px 8px;
  background-color: rgb(247, 205, 205);
  border-radius: 8px;
}
.error-message p {
  margin: 0px !important;
  color: rgb(156, 21, 21) !important;
  font-size: 16px !important;
  line-height: 36px;
}

.home {
  background-image: url("http://localhost/learn/Final_Project/assets/imgs/bg.png");
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .information_form {
  width: fit-content;
  padding: 40px 60px;
  border-radius: 20px;
  border: solid 2px rgb(248, 101, 48);
  background-color: white;
}
.home .information_form h1 span {
  text-transform: capitalize;
}
.home .information_form > p {
  font-size: 24px;
  font-weight: 600;
}
.home .information_form div p {
  font-size: 18px;
}
.home .information_form .block_handle {
  margin-top: 40px;
}
.home .information_form .block_handle .update_infor, .home .information_form .block_handle .logout {
  font-size: 18px;
  font-weight: 600;
  padding: 20px 36px;
  margin: 0px 12px;
  border-radius: 20px;
  border: solid 2px rgb(248, 101, 48);
  color: rgb(248, 101, 48);
}
.home .information_form .block_handle .update_infor {
  background-image: url("http://localhost/learn/Final_Project/assets/imgs/bg.png");
}
.home .information_form .block_handle .update_infor:hover {
  color: white;
  background-color: rgb(248, 101, 48);
  background-image: none;
}
.home .information_form .block_handle .logout {
  color: white;
  background-color: rgb(248, 101, 48);
}
.home .information_form .block_handle .logout:hover {
  background-image: url("http://localhost/learn/Final_Project/assets/imgs/bg.png");
}

.login-form {
  margin: auto;
  padding: 0%;
  border-radius: 4px;
  background: white;
  overflow: hidden;
  border: solid 2px rgba(252, 43, 43, 0.75);
}
.login-form__design {
  background: url(http://localhost/learn/Final_Project/assets/imgs/bg_login.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.login-form__design div {
  padding: 52px 40px;
  height: 100%;
  background-color: rgba(252, 43, 43, 0.75);
  text-align: center;
  color: white;
}
.login-form__design div img {
  width: 60%;
  filter: brightness(0) invert(1);
}
.login-form__content {
  padding: 52px 40px;
}
.login-form__content h1 {
  margin-bottom: 52px;
  color: rgb(252, 43, 43);
  height: 38px;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
}
.login-form__content input:-webkit-autofill,
.login-form__content input:-webkit-autofill:hover,
.login-form__content input:-webkit-autofill:focus,
.login-form__content input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #818183;
}
.login-form__content input[type=password]:-webkit-autofill,
.login-form__content input[type=password]:-webkit-autofill:hover,
.login-form__content input[type=password]:-webkit-autofill:focus,
.login-form__content input[type=password]:-webkit-autofill:active {
  -webkit-text-fill-color: rgb(252, 43, 43);
}
.login-form__content input[type=password] {
  color: rgb(252, 43, 43) !important;
}
.login-form__content input[type=text],
.login-form__content input[type=password] {
  padding: 10px 0px;
  margin-bottom: 24px;
  width: 100%;
  font-size: 18px;
  color: #818183;
  background: white;
  border: none;
  border-bottom: 2px solid #c0bfbf;
  outline: none;
  box-shadow: none;
}
.login-form__content input[type=text]:focus,
.login-form__content input[type=password]:focus {
  border-bottom: 2px solid rgb(252, 43, 43);
}
.login-form__content input[type=text] {
  font-weight: 600;
}
.login-form__content input[type=text]::placeholder {
  font-weight: 500;
}
.login-form__content button,
.login-form__content .register-btn {
  margin-top: 40px;
  width: 100%;
  border-radius: 50px;
  background: transparent;
  padding: 10px 0px;
  border: solid 2px rgb(252, 43, 43);
  color: rgb(252, 43, 43);
  text-transform: uppercase;
  font-size: 18px;
  transition-duration: 0.2s;
}
.login-form__content button:hover,
.login-form__content .register-btn:hover {
  color: white;
  background: rgb(252, 60, 48);
  cursor: pointer;
  transition-duration: 0.2s;
}
.login-form__content .register-btn {
  padding: 0px;
  margin-top: 16px;
  display: flex;
}
.login-form__content .register-btn a {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0px;
  color: rgb(252, 43, 43);
}
.login-form__content .register-btn:hover {
  color: white;
  background: rgb(252, 60, 48);
  cursor: pointer;
  transition-duration: 0.2s;
}
.login-form__content .register-btn:hover a {
  color: white;
}

.register {
  background-image: url("http://localhost/learn/Final_Project/assets/imgs/bg.png");
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register .register-form {
  margin: auto;
  padding: 0px;
  border-radius: 4px;
  background: white;
  overflow: hidden;
  border: solid 2px rgba(252, 43, 43, 0.75);
}
.register .register-form__design {
  background: url(http://localhost/learn/Final_Project/assets/imgs/bg_login.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.register .register-form__design > div {
  padding: 52px 40px;
  height: 100%;
  background-color: rgba(252, 43, 43, 0.75);
  text-align: center;
  color: white;
}
.register .register-form__design > div img {
  width: 60%;
  filter: brightness(0) invert(1);
}
.register .register-form__content {
  padding: 52px 60px;
}
.register .register-form__content h1 {
  margin-bottom: 52px;
  color: rgb(252, 43, 43);
  height: 38px;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
}
.register .register-form__content input:-webkit-autofill,
.register .register-form__content input:-webkit-autofill:hover,
.register .register-form__content input:-webkit-autofill:focus,
.register .register-form__content input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #818183;
}
.register .register-form__content input[type=password]:-webkit-autofill,
.register .register-form__content input[type=password]:-webkit-autofill:hover,
.register .register-form__content input[type=password]:-webkit-autofill:focus,
.register .register-form__content input[type=password]:-webkit-autofill:active {
  -webkit-text-fill-color: rgb(252, 43, 43);
}
.register .register-form__content input[type=password] {
  color: rgb(252, 43, 43) !important;
}
.register .register-form__content input[type=text],
.register .register-form__content input[type=password] {
  padding: 10px 0px;
  margin-bottom: 24px;
  width: 100%;
  font-size: 18px;
  color: #818183;
  background: white;
  border: none;
  border-bottom: 2px solid #c0bfbf;
  outline: none;
  box-shadow: none;
}
.register .register-form__content input[type=text]:focus,
.register .register-form__content input[type=password]:focus {
  border-bottom: 2px solid rgb(252, 43, 43);
}
.register .register-form__content input[type=text] {
  font-weight: 600;
}
.register .register-form__content input[type=text]::placeholder {
  font-weight: 500;
}
.register .register-form__content button,
.register .register-form__content .cancel {
  margin-top: 40px;
  width: 100%;
  border-radius: 50px;
  background: transparent;
  padding: 10px 0px;
  border: solid 2px rgb(252, 43, 43);
  color: rgb(252, 43, 43);
  text-transform: uppercase;
  font-size: 18px;
  transition-duration: 0.2s;
}
.register .register-form__content button:hover,
.register .register-form__content .cancel:hover {
  color: white;
  background: rgb(252, 60, 48);
  cursor: pointer;
  transition-duration: 0.2s;
}
.register .register-form__content .cancel {
  padding: 0px;
  margin-top: 16px;
  display: flex;
}
.register .register-form__content .cancel a {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0px;
  color: rgb(252, 43, 43);
}
.register .register-form__content .cancel:hover {
  color: white;
  background: rgb(252, 60, 48);
  cursor: pointer;
  transition-duration: 0.2s;
}
.register .register-form__content .cancel:hover a {
  color: white;
}
.register .register-form__content form div {
  position: relative;
}
.register .register-form__content form div label[class=error] {
  position: absolute;
  bottom: 2px;
  left: 0px;
  font-size: 12px;
  color: red;
}

.updatainfor {
  background-image: url("http://localhost/learn/Final_Project/assets/imgs/bg.png");
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.updatainfor-form {
  width: fit-content;
  padding: 40px 60px;
  border-radius: 20px;
  border: solid 2px rgb(248, 101, 48);
  background-color: white;
}
.updatainfor-form h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 28px;
  color: rgb(64, 64, 65);
}
.updatainfor-form div {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 16px;
}
.updatainfor-form div label {
  font-size: 22px;
  font-weight: 600;
  line-height: 39px;
  color: #636364;
}
.updatainfor-form div input:-webkit-autofill,
.updatainfor-form div input:-webkit-autofill::first-line,
.updatainfor-form div input:-webkit-autofill:hover,
.updatainfor-form div input:-webkit-autofill:focus,
.updatainfor-form div input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #818183;
}
.updatainfor-form div input {
  font-size: 16px;
  margin-left: 24px;
  padding: 10px 10px;
  width: 240px;
  color: #818183;
  background: white;
  left: 0;
  border-radius: 10px;
  border: 2px solid #818183;
  outline: none;
  font-family: "Gudea", sans-serif;
  box-shadow: none;
}
.updatainfor-form div .correct {
  display: none;
  position: absolute;
  font-size: 20px;
  top: 12px;
  right: 8px;
  color: rgb(18, 136, 18);
}
.updatainfor-form div .incorrect {
  display: none;
  position: absolute;
  font-size: 20px;
  top: 12px;
  right: 8px;
  color: rgb(211, 16, 16);
}
.updatainfor-form .updateinfor-btn {
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  border-radius: 50px;
  background: transparent;
  padding: 10px 0px;
  border: solid 2px rgb(248, 101, 48);
  color: rgb(248, 101, 48);
  text-transform: uppercase;
  transition-duration: 0.2s;
}
.updatainfor-form .updateinfor-btn:hover {
  color: white;
  background: rgb(248, 101, 48);
  cursor: pointer;
  transition-duration: 0.2s;
}
.updatainfor-form .cancel {
  border-radius: 50px;
  border: solid 2px rgb(248, 101, 48);
  padding: 0px;
  margin-top: 16px;
  display: flex;
}
.updatainfor-form .cancel a {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0px;
  color: rgb(248, 101, 48);
}
.updatainfor-form .cancel:hover {
  color: white;
  background: rgb(248, 101, 48);
  cursor: pointer;
  transition-duration: 0.2s;
}
.updatainfor-form .cancel:hover a {
  color: white;
}

.add_article {
  padding-bottom: 40px;
}
.add_article h1 {
  margin: 24px 0px;
  text-align: center;
  font-weight: 650;
  text-transform: uppercase;
}
.add_article h2 {
  text-align: start;
}
.add_article input {
  padding: 12px;
  height: 52px;
  border: 2px solid #eee;
  border-radius: 10px;
  width: 100%;
}
.add_article input:focus-visible {
  outline: none;
}
.add_article .tox-statusbar {
  display: none !important;
}
.add_article button {
  margin-top: 40px;
}

.product__item {
  background: #FFFFFF;
  border-radius: 10px;
  transition: 0.5s ease;
}
.product__item:hover {
  filter: drop-shadow(0px 12px 25px rgba(0, 0, 0, 0.05));
}
.product__item:hover img {
  transform: scale(1.15);
}
.product__item:hover h4 {
  color: #660166;
}
.product__item--img {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.product__item--img img {
  transition: transform 0.5s;
  width: 100%;
}
.product__item__decription {
  padding: 24px 16px;
}
.product__item__decription h4 {
  min-height: 84px;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  transition: color 0.25s;
}
@media (max-width: 575px) {
  .product__item__decription h4 {
    min-height: 50px;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}
.product__item__decription--detail {
  min-height: 72px;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media (max-width: 575px) {
  .product__item__decription--detail {
    min-height: 60px;
  }
}
.product__item__decription--price {
  padding: 24px 0;
  border-top: 1px solid #EBEBEB;
}
.product__item__decription--price div:first-child {
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;
  color: #252525;
}
.product__item__decription--price div:last-child {
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: yellow;
}
.product__item__decription--price div:last-child span {
  margin-left: 12px;
  padding: 2px 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  background-color: yellow;
  color: #FFFFFF;
  border-radius: 5px;
}
@media (max-width: 424px) {
  .product__item__btn {
    flex-wrap: wrap;
  }
}
.product__item__btn a:first-child {
  padding: 12px 0;
  font-weight: 500;
  color: #FFFFFF;
  background: #660166;
  border: 1px solid #660166;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  transition: 0.3s ease;
}
.product__item__btn a:first-child i::before {
  transition: 0.3s ease;
}
.product__item__btn a:first-child:hover {
  background: #660166;
}
.product__item__btn a:first-child:hover i::before {
  transform: rotate(-20deg);
}
.product__item__btn a:last-child {
  padding: 12px 0;
  color: #660166;
  border: 1px solid #660166;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.product__item__btn a:last-child:after {
  content: "";
  height: 155px;
  width: 80px;
  position: absolute;
  top: -50px;
  left: -115px;
  background: #660166;
  opacity: 0.15;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.product__item__btn a:last-child:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

/*# sourceMappingURL=style.css.map */
