.register {
    background-image: url("http://localhost/learn/Final_Project/assets/imgs/bg.png");
    background-repeat: repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .register-form {
        margin: auto;
        padding: 0px;
        border-radius: 4px;
        background: white;
        overflow: hidden;
        border: solid 2px rgba(252, 43, 43, 0.75);

        &__design {
            background: url(http://localhost/learn/Final_Project/assets/imgs/bg_login.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            &>div {
                padding: 52px 40px;
                height: 100%;
                background-color: rgba(252, 43, 43, 0.75);
                text-align: center;
                color: white;

                img {
                    width: 60%;
                    filter: brightness(0) invert(1);
                }

            }
        }

        &__content {
            padding: 52px 60px;

            h1 {
                margin-bottom: 52px;
                color: rgba(252, 43, 43, 1);
                height: 38px;
                text-align: left;
                font-size: 30px;
                font-weight: 600;
            }

            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px white inset !important;
                -webkit-text-fill-color: #818183;
            }

            input[type='password']:-webkit-autofill,
            input[type='password']:-webkit-autofill:hover,
            input[type='password']:-webkit-autofill:focus,
            input[type='password']:-webkit-autofill:active {
                -webkit-text-fill-color: rgb(252, 43, 43);
            }

            input[type='password'] {
                color: rgb(252, 43, 43) !important;
            }

            input[type='text'],
            input[type='password'] {
                padding: 10px 0px;
                margin-bottom: 24px;
                width: 100%;
                font-size: 18px;
                color: #818183;
                background: white;
                border: none;
                border-bottom: 2px solid #c0bfbf;
                outline: none;
                box-shadow: none;

                &:focus {
                    border-bottom: 2px solid rgb(252, 43, 43);
                }
            }

            input[type='text'] {
                font-weight: 600;

                &::placeholder {
                    font-weight: 500;
                }
            }

            button,
            .cancel {
                margin-top: 40px;
                width: 100%;
                border-radius: 50px;
                background: transparent;
                padding: 10px 0px;
                border: solid 2px rgb(252, 43, 43);
                color: rgb(252, 43, 43);
                text-transform: uppercase;
                font-size: 18px;
                transition-duration: .2s;

                &:hover {
                    color: white;
                    background: rgb(252, 60, 48);
                    cursor: pointer;
                    transition-duration: .2s;
                }
            }

            .cancel {
                padding: 0px;
                margin-top: 16px;
                display: flex;

                a {
                    text-align: center;
                    text-transform: uppercase;
                    width: 100%;
                    padding: 10px 0px;
                    color: rgb(252, 43, 43);
                }

                &:hover {
                    color: white;
                    background: rgb(252, 60, 48);
                    cursor: pointer;
                    transition-duration: .2s;

                    a {
                        color: white;
                    }
                }
            }
            form{
                div{
                    position: relative;
                    label[class='error']{
                        position: absolute;
                        bottom:2px;
                        left: 0px;
                        font-size: 12px;
                        color: red;
                    }
                }
            }
        }
    }
}